# Real Estate Investment Data Exploration  

**Author:** Kasey Cohen  
**Course:** Real Estate Data Analysis  
**Date:** 2/28/2024  

## 1. Understanding the Data  

- ### Data Acquisition  

  - **Time Range**  

    The dataset includes house prices spanning from 2000 to 2023, providing insights into trends across more than two decades of the housing market in the United States. The data was collected at various points throughout this time range, making it possible to analyze market changes over time.  

  - **Geographical Coverage**  

    The dataset covers a wide range of geographical locations across the United States. This includes urban and suburban areas, with properties from cities and towns in multiple states, ensuring diverse regional representation in the dataset.  

  - **Data Collection Method**  

    The data was acquired from publicly available sources, including real estate listings, public records, and possibly real estate agencies that report on house prices, sales data, and property characteristics. The dataset is likely to have been compiled from a variety of websites and real estate platforms to ensure broad coverage.

Here we are downloading the data from Kaggle

In [9]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("fratzcan/usa-house-prices")

print("Path to dataset files:", path)
import pandas as pd

# Define the path to the CSV file
csv_path = "/root/.cache/kagglehub/datasets/fratzcan/usa-house-prices/versions/1/USA Housing Dataset.csv"

# Load the CSV file into a DataFrame
data = pd.read_csv(csv_path)

# Display the first few rows of the DataFrame
data

Path to dataset files: /root/.cache/kagglehub/datasets/fratzcan/usa-house-prices/versions/1

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-09 00:00:00,3.760000e+05,3.0,2.00,1340,1384,3.0,0,0,3,1340,0,2008,0,9245-9249 Fremont Ave N,Seattle,WA 98103,USA
1,2014-05-09 00:00:00,8.000000e+05,4.0,3.25,3540,159430,2.0,0,0,3,3540,0,2007,0,33001 NE 24th St,Carnation,WA 98014,USA
2,2014-05-09 00:00:00,2.238888e+06,5.0,6.50,7270,130017,2.0,0,0,3,6420,850,2010,0,7070 270th Pl SE,Issaquah,WA 98029,USA
3,2014-05-09 00:00:00,3.240000e+05,3.0,2.25,998,904,2.0,0,0,3,798,200,2007,0,820 NW 95th St,Seattle,WA 98117,USA
4,2014-05-10 00:00:00,5.499000e+05,5.0,2.75,3060,7015,1.0,0,0,5,1600,1460,1979,0,10834 31st Ave SW,Seattle,WA 98146,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2014-07-09 00:00:00,3.081667e+05,3.0,1.75,1510,6360,1.0,0,0,4,1510,0,1954,1979,501 N 143rd St,Seattle,WA 98133,USA
4136,2014-07-09 00:00:00,5.343333e+05,3.0,2.50,1460,7573,2.0,0,0,3,1460,0,1983,2009,14855 SE 10th Pl,Bellevue,WA 98007,USA
4137,2014-07-09 00:00:00,4.169042e+05,3.0,2.50,3010,7014,2.0,0,0,3,3010,0,2009,0,759 Ilwaco Pl NE,Renton,WA 98059,USA
4138,2014-07-10 00:00:00,2.034000e+05,4.0,2.00,2090,6630,1.0,0,0,3,1070,1020,1974,0,5148 S Creston St,Seattle,WA 98178,USA
4139,2014-07-10 00:00:00,2.206000e+05,3.0,2.50,1490,8102,2.0,0,0,4,1490,0,1990,0,18717 SE 258th St,Covington,WA 98042,USA

In [ ]:
import pandas as pd
df = pd.read_csv('/content/usa-house-prices.csv')

In [ ]:
df.head()

In [ ]:
df.describe()